apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: gemma-system

resources:
  - namespace.yaml
  - pvc.yaml
  - deployment.yaml
  - service.yaml

labels:
  - pairs:
      demo: argo-rollouts
